<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="add1" method="GET">
Enter First Number
<br>
<label>Enter Number1</label> <input type="text" name="num1" ><br>
<label>Enter Number2</label> <input type="text" name="num2" ><br>
<button type="submit" value="Submit" name="b1">ADD</button><br>
<button type="submit" value="Submit" name="b2">Subtract</button><br>
    <button type="submit" value="Submit" name="b3">Multiply</button><br>
    <button type="submit" value="Submit" name="b4">Divide</button>
    </form>



result...{{ sum1 }}
string...{{wy}}

</body>
</html>